<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paper{s}pace</title>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">paper{s}pace</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#" th:href="@{${document.links.download}}">
                    <svg class="bi bi-download mr-2" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                              d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z"
                              fill-rule="evenodd"/>
                        <path clip-rule="evenodd"
                              d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z"
                              fill-rule="evenodd"/>
                        <path clip-rule="evenodd" d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z"
                              fill-rule="evenodd"/>
                    </svg>
                    <span>download</span>
                </a>
                <a class="navbar-item" href="#" target="_blank" th:href="@{${document.links.view}}">
                    <svg class="bi bi-search mr-2" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                              d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                              fill-rule="evenodd"/>
                        <path clip-rule="evenodd"
                              d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                              fill-rule="evenodd"/>
                    </svg>
                    <span>open in browser</span>
                </a>
                <a class="navbar-item" data-toggle="modal" data-target="#modal">
                    <svg class="bi bi-trash mr-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                    <span>delete</span>
                </a>
                <th:block th:if="${document.type eq 'TASK'}">
                    <a class="navbar-item ladda-button" data-spinner-color="#007bff"
                       data-style="zoom-in" id="doneButton" th:unless="${document.done}">
                        <svg class="bi bi-check-circle mr-2" fill="currentColor" height="1em" viewBox="0 0 16 16"
                             width="1em"
                             xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
                                  fill-rule="evenodd"/>
                            <path clip-rule="evenodd"
                                  d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
                                  fill-rule="evenodd"/>
                        </svg>
                        <span>mark done</span>
                    </a>
                    <span class="navbar-item has-text-success" th:if="${document.done}">
                    <svg class="bi bi-check-circle mr-2" fill="currentColor" height="1em" viewBox="0 0 16 16"
                         width="1em"
                         xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                              d="M15.354 2.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L8 9.293l6.646-6.647a.5.5 0 01.708 0z"
                              fill-rule="evenodd"/>
                        <path clip-rule="evenodd"
                              d="M8 2.5A5.5 5.5 0 1013.5 8a.5.5 0 011 0 6.5 6.5 0 11-3.25-5.63.5.5 0 11-.5.865A5.472 5.472 0 008 2.5z"
                              fill-rule="evenodd"/>
                    </svg>
                    <span>done</span>
                    </span>
                </th:block>
            </div>
        </div>
    </div>
</nav>
<main class="container mt-5 px-5">
    <div class="columns">
        <div class="column is-one-third">
            <form onsubmit="return false;" id="documentForm">
                <div class="field">
                    <label class="label" for="title">Title</label>
                    <div class="control">
                        <input id="title" class="input" name="title" type="text" placeholder="Text input"
                               th:value="${document.title}">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="description">Description</label>
                    <div class="control">
                        <textarea id="description" name="description" rows="5" class="textarea" type="text"
                                  placeholder="Text input" th:text="${document.description}"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="tags-with-source">Tags</label>
                    <div class="control">
                        <select id="tags-with-source" class="select" name="tags" multiple="multiple"
                                style="width: 100%">
                            <option th:each="tag : ${document.tags}" th:text="${tag.name}" th:value="${tag.name}"
                                    selected="selected"></option>
                        </select>
                    </div>
                </div>
                <th:block th:if="${document.type eq 'TASK'}">
                    <div class="field">
                        <label for="dueDate" class="label">Due</label>
                        <div class="control">
                            <input class="input" id="dueDate" name="dueDate" th:disabled="${document.done}"
                                   th:value="${#temporals.format(document.dueAt, 'yyyy-MM-dd')}"
                                   th:attr="data-start-date=${#temporals.format(document.dueAt, 'MM/dd/yyyy')}"
                                   type="date"
                                   value="2020-10-01">
                        </div>
                    </div>
                    <div class="field">
                        <label for="doneDate" class="label">Done</label>
                        <div class="control">
                            <input class="input" id="doneDate" name="doneDate" readonly="readonly" disabled="disabled"
                                   th:value="${#temporals.format(document.doneAt, 'yyyy-MM-dd HH:mm')}" type="text"
                                   value="10/01/2020 12:30">
                        </div>
                    </div>
                </th:block>

                <button class="mt-4 button is-upload ladda-button" data-spinner-color="#007bff" data-style="zoom-in"
                        id="saveButton" type="submit">save changes
                </button>
            </form>
        </div>

        <div id="preview-loading-panel" class="column is-two-thirds mt-5">
            <div class="has-text-centered">loading ...</div>
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <div class="column is-two-thirds" id="preview-container">
            <div class="tns-controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
                <button class="button prev" aria-label="prev" aria-controls="customize" title="previous" tabindex="-1" data-controls="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                </button>
                <button class="button next" aria-label="next" aria-controls="customize" title="next" tabindex="-1" data-controls="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                </button>
                <button class="button" title="fullscreen" tabindex="-1" data-controls="fullscreen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
                    </svg>
                </button>
                <a th:href="${document.links[editPages]}" th:if="${editable}" href="/edit.html" class="button" title="edit" tabindex="-1" data-controls="edit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                    </svg>
                </a>
            </div>
            <div class="carousel" id="main-carousel">
            </div>
        </div>
    </div>
</main>
<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <i class="column is-2 fas fa-exclamation-triangle has-text-danger is-size-1"></i>
            <p class="modal-card-title">Delete?</p>
            <button class="delete" aria-label="close" data-toggle="modal" data-target="#modal"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column">
                    <p>Are you sure you want to delete this document?</p>
                    <p>This will delete the document from the filesystem!</p>
                    <p><strong class="has-text-danger-dark">This action can't be reverted.</strong></p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-danger" id="deleteButton">Delete document</button>
            <button class="button" data-toggle="modal" data-target="#modal">Cancel</button>
        </footer>
    </div>
</div>
</body>

<script src="/js/vendor/jquery-3.5.1.min.js" th:src="@{/js/vendor/jquery-3.5.1.min.js}" type="text/javascript"></script>
<script src="/js/vendor/handlebars.min-v4.7.7.js" th:src="@{/js/vendor/handlebars.min-v4.7.7.js}" type="text/javascript"></script>
<script src="/js/vendor/luxon.js" th:src="@{/js/vendor/luxon.js}" type="text/javascript"></script>
<script src="/js/vendor/swiper.js" th:src="@{/js/vendor/swiper.js}" type="text/javascript"></script>
<script src="/js/vendor/bulma-calendar.min.js" th:src="@{/js/vendor/bulma-calendar.min.js}" type="text/javascript"></script>
<script src="/js/vendor/select2.min.js" th:src="@{/js/vendor/select2.min.js}" type="text/javascript"></script>
<script src="/js/main.js" th:src="@{/js/main.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {

        $(".navbar-burger").click(function () {
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });

        bulmaCalendar.attach('#dueDate', {
            type: 'date',
            showClearButton: false,
            closeOnSelect: true,
            showHeader: false,
            showButtons: false,
            showFooter: false,
        });
        const selfUrl = '[(${document.links[edit]})]';
        const doneUrl = '[(${document.links[done]})]';
        const appHost = '[(${appHost})]';
        let documentController = new DocumentController({
            saveButton: '#saveButton',
            doneButton: '#doneButton',
            deleteButton: '#deleteButton',
            form: '#documentForm',
            selfUrl: selfUrl,
            deleteUrl: selfUrl,
            doneUrl: doneUrl,
            appUrl: appHost
        });

        documentController.init();

        const pageUrl = /*[[(${document.links[pages]})]]*/ '/api/edit/pages.json';
        let previewController = new PreviewController({
            pages: pageUrl,
            gallery: '#main-carousel',
            controls: '#customize-controls',
            container: '#preview-container',
            loadingContainer: '#preview-loading-panel'
        })
        previewController.init();
    });




</script>
</html>
